
<div class="vertical-container">
    <md-content>

        <div id="chart"></div>

        <md-list>
            <md-subheader class="md-no-sticky">Jita</md-subheader>
            <md-list-item class="md-1-line" ng-repeat="(key, value) in MarketDataItem" ng-if="key!=='dogma'">
                <div class="md-list-item-text wide" layout="row">
                    <h6 flex="8" style="text-align: right">{{key}}</h6>
                    <h6 flex="85" flex-offset="5">{{value}}</h6>
                    <md-icon class="md-secondary-container" class="material-icons"  aria-label="message" >message</md-icon>
                    <!--<md-divider flex="100" ></md-divider>-->
                </div>
            </md-list-item>
        </md-list>

        <md-list>
            <md-subheader class="md-no-sticky">Parameters</md-subheader>
            <md-list-item class="md-1-line" ng-repeat="(key, value) in DynamicItem" ng-if="key!=='dogma'">
                <div class="md-list-item-text wide" layout="row">
                    <h6 flex="8" style="text-align: right">{{key}}</h6>
                    <h6 flex="85" flex-offset="5">{{value}}</h6>
                    <md-icon class="md-secondary-container" class="material-icons"  aria-label="message" >message</md-icon>
                    <!--<md-divider flex="100" ></md-divider>-->
                </div>
            </md-list-item>
        </md-list>

        <md-list ng-repeat="(objKey, obj) in DynamicItem['dogma']">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">{{objKey}}</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="(key, value) in obj">
                <div ng-repeat="(attributeKey, attribute) in value" class="md-list-item-text" layout="column">
                    <h3 ng-if="attributeKey==='attribute'">
                        {{attributeKey}}:{{attribute.name}}
                    </h3>
                    <h3 ng-if="attributeKey==='effect'">
                        {{attributeKey}}:{{attribute.name}}
                    </h3>
                    <p ng-if="attributeKey==='value'">
                        {{attributeKey}}:{{attribute}}
                    </p>
                </div>
                <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
            </md-list-item>
        </md-list>

        <!--<img src="{{DynamicItem.graphicID.href}}" alt=""/>-->
    </md-content>
</div>
